{% extends "base_dashboard.html" %}

{% block content %}
<div class="container-fluid">
    <div class="page-head">
        <h4 class="my-2">{{ _('Products') }}</h4>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">
                    <h5 class="header-title pb-3">{{ _('Product') }}</h5>
                    <div class="general-label">
                        <form role="form" action="{{ url_for('createProduct') }}" method="POST">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name">{{ _('Name') }}</label>
                                    <input type="text" class="form-control" name='name' id='name' required value='test'>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="sku">{{ _('SKU') }}</label>
                                    <input type="text" class="form-control {% if error %} parsley-error {% endif %}" name='sku' id='sku' required value='FF22A84G'>
                                    <ul class="parsley-errors-list filled">
                                        <li>
                                            {% if error %} {{ error }} {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">{{ _('Submit') }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
