{% extends "general.html" %}
{% block body %}
<section>
    <!-- sidebar left start-->
    <div class="sidebar-left">
        <div class="sidebar-left-info">

            <!--sidebar nav start-->
            <ul class="side-navigation">
                <li class="{% if request.path == '/' %} active {% endif %}">
                    <a href="/">
                      <i class="mdi mdi-gauge"></i>
                      <span>{{ _('Home') }}</span>
                    </a>
                </li>
                <li class="menu-list {% if '/price-optimization' in request.path %} active nav-active {% endif %}">
                    <a href="">
                        <i class="mdi mdi-buffer"></i>
                        <span>{{ _('Price Optimization') }}</span>
                    </a>
                    <ul class="child-list">
                        <li class="{% if request.path == '/price-optimization/create' %} active {% endif %}">
                            <a href="{{ url_for('createPriceOptimization') }}">
                                {{ _('Create') }}
                            </a>
                        </li>
                        <li class="{% if request.path == '/price-optimization' %} active {% endif %}">
                            <a href="{{ url_for('viewPriceOptimization') }}">
                                {{ _('View') }}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-list {% if request.path == '/products/create' or request.path == '/products' %} active nav-active {% endif %}">
                    <a href="">
                        <i class="mdi mdi-buffer"></i>
                        <span>{{ _('Products') }}</span>
                    </a>
                    <ul class="child-list">
                        <li class="{% if request.path == '/products/create' %} active {% endif %}">
                            <a href="{{ url_for('createProduct') }}">
                                {{ _('Create') }}
                            </a>
                        </li>
                        <li class="{% if request.path == '/products' %} active {% endif %}">
                            <a href="{{ url_for('viewProducts') }}">
                                {{ _('View') }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul><!--sidebar nav end-->
        </div>
    </div><!-- sidebar left end-->

    <!-- body content start-->
    <div class="body-content">
        <!-- header section start-->
        <div class="header-section">
            <!--logo and logo icon start-->
            <div class="logo">
                <a href="/">
                    <!--<i class="fa fa-maxcdn"></i>-->
                    <span class="brand-name">{{ _('Price Optimizer') }}</span>
                </a>
            </div>

            <!--toggle button start-->
            <a class="toggle-btn"><i class="ti ti-menu"></i></a>
            <!--toggle button end-->

            <!--mega menu start-->
            <div id="navbar-collapse-1" class="navbar-collapse collapse mega-menu">
                <ul class="nav navbar-nav">
                    <!-- Classic dropdown -->
                    <li class="dropdown">
                        <a href="javascript:;" data-toggle="dropdown" class=""> {{ _('Language') }}
                          <i class="mdi mdi-chevron-down"></i>
                        </a>
                        <ul role="menu" class="dropdown-menu language-switch">
                            <li>
                                <a tabindex="-1" href="{{ url_for('setLanguage', language='en') }}"> {{ _('English') }} </a>
                            </li>
                            <li>
                                <a tabindex="-1" href="{{ url_for('setLanguage', language='es') }}"> {{ _('Spanish') }} </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--mega menu end-->

            <div class="notification-wrap">
                <!--right notification start-->
                <div class="right-notification">
                    <ul class="notification-menu">
                        <li>
                            <a href="javascript:;" data-toggle="dropdown">
                                <img src="{{ url_for('static', filename='/images/settings.png') }}" alt="">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-menu">
                                <a class="dropdown-item" href="{{ url_for('logout') }}"><i class="mdi mdi-logout m-r-5 text-muted"></i> {{ _('Logout') }}</a>
                            </div>

                        </li>
                    </ul>
                </div><!--right notification end-->
            </div>

        </div>
        <!-- header section end-->

        {% block content %}

        {% endblock %}

        <!--footer section start-->
        <footer class="footer">
            2020 &copy; Sergio Alves.
        </footer>
        <!--footer section end-->

    </div>
    <!--end body content-->
</section>
{% endblock %}


{% block plugins %}
<script src="{{ url_for('static', filename='plugins/waypoints/jquery.waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sparkline-chart/jquery.sparkline.min.js') }}"></script>
<script src="{{ url_for('static', filename='pages/jquery.sparkline.init.js') }}"></script>

<script src="{{ url_for('static', filename='plugins/chart-js/Chart.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/morris-chart/raphael-min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/morris-chart/morris.js') }}"></script>
<script src="{{ url_for('static', filename='pages/dashboard-init.js') }}"></script>
{% endblock %}
