<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="Price Optimizer">
        <meta name="author" content="Sergio Alves">
        <meta name="keyword" content="Price Optimization">

        <title>Sergio Alves | Price Optimizer</title>

        <!-- Theme icon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

        <link href="{{ url_for('static', filename='plugins/morris-chart/morris.css') }}" rel="stylesheet">
        <!-- Theme Css -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/slidebars.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/icons.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

        {% block css %}{% endblock %}
    </head>

    <body class="sticky-header">
        <!-- Body -->
        {% block body %}{% endblock %}
        
        <!-- jQuery -->
        <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-migrate.js') }}"></script>
        <script src="{{ url_for('static', filename='js/modernizr.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.slimscroll.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/slidebars.min.js') }}"></script>

        <!--app js-->
        <script src="{{ url_for('static', filename='js/jquery.app.js') }}"></script>

        <!-- Plugins -->
        {% block plugins %}{% endblock %}
    </body>
</html>
